.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav-link {
    margin-right: 20px;
    position: relative; /* Ensures ::before is relative to the link */
}

.nav-link a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 8px;
}

.nav-but {
    padding: 10px 20px;
    background-color: #f7c631;
    color: white;
    border: none;
    border-radius: 5px;
}

.nav-link:hover a {
    opacity: 0.8; /* Slight fade effect on hover */
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust position just below the link text */
    left: 0;
    height: 2px; /* Set height for underline */
    width: 0%;
    background-color: #f7c631; /* Color for underline */
    transition: width 0.3s ease; /* Smooth transition */
}

.nav-link:hover::before {
    width: 100%; /* Full width on hover */
}

